body {
    --box-bg-color: #1e293b;
    --text-white: #f9fafb;
    font-family: sans-serif;
}

.header {
    padding: 1rem 5rem;
    display: flex;
    flex-flow: row;
    align-items: center;
    
}

.header > p {
    margin: auto;
    background-color: var(--box-bg-color);
    padding: 1rem 5rem;
    color: var(--text-white);
    border-radius: 0.5rem;
}

.main {
    margin-top: 100px;
    display: flex;
    flex-flow: row;
    gap: 50px;
    justify-content: center;
}

.board-player,
.board-enemy {
    display: grid;
    grid-template: repeat(10, 50px) / repeat(10, 50px);
}

.ship {
    background-color: blue;
}

.hit {
    background-color: red;
}

.miss {
    background-color: gray;
}